name: cd

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [16]
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install dependencies ui
        working-directory: ./ui
        run: pnpm install

      - name: Install dependencies frontend
        run: pnpm --filter frontend install

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        working-directory: ./frontend
        with:
          github_token: ${{ secrets.ACCESS_TOKEN }}
          publish_dir: ./dist
